.movieBlock {
  display: flex;
  margin: 50px 0;
}

.moviePoster2 {
  width: 300px;
  height: 440px;
}

.addToListBtns {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.addToListBtns button {
  height: 34px;
  background-color: black;
  color: white;
  font-size: 16px;
}

.addToListBtns button:hover {
  cursor: pointer;
  color: #9a9696;
}

.msg {
  width: 100%;
  padding: 5px 10px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.successAdd {
  color: rgb(5, 89, 5)
}

.errorAdd {
  color: rgb(186, 2, 2);
}

.movieInfoBlock {
  margin: 0 100px;
}

.movieInfoBlock p {
  margin-bottom: 35px;
  color: var(--cWhiteText);
}

.movieTitleInfo {
  font-size: 24px;
  font-weight: bold;
}

.movieDescriptionInfo {
  font-size: 20px;
}

.movieActorsInfo {
  font-size: 20px;
}

.movieGenresInfo {
  font-size: 20px;
}

.movieReleaseYearInfo {
  font-size: 20px;
}

.movieDurationInfo {
  font-size: 20px;
}
