.profilePage {
  margin-bottom: 30px;
}

.userameProfile {
    margin: 20px 0;
    font-size: 26px;
    font-weight: 700;
}

.showMovieListBtns {
  display: flex;
  margin: 20px 0;
}

.showMovieListBtns button {
  margin-right: 20px;
  width: 160px;
  height: 40px;
  background-color: #6d75ff;
  color: white;
  border-radius: 5px;
  border: 1px solid #5b62ef;
  font-size: 16px;
}

.showMovieListBtns button:hover {
  cursor: pointer;
  color: #9a9696;
}

.activeBtn {
  background-color: #5260ff !important;
}