.searchPanel {
  margin-bottom: 20px;
}

.searchInput {
  width: 100%;
  padding: 10px;
  background-color: var(--c2);
  color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.searchInput::placeholder {
  color: var(--c3);
}
