@media screen and (max-width: 1400px) {
  .container {
    width: 1140px;
  }

  .movieList {
    gap: 50px;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    width: 960px;
  }

  .movieList {
    gap: 80px;
  }

  .rightMoviePanel {
    width: 25%;
  }

  .leftMoviePanel {
    width: 75%;
  }
}

@media screen and (max-width: 992px) {
  .container {
    width: 720px;
  }

  .movieList {
    gap: 40px;
  }

  .movieCard {
    width: 225px;
    height: 410px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 540px;
  }

  .movieList {
    justify-content: space-between;
    gap: 40px;
  }

  .genresPanel {
    display: none !important;
  }

  .leftMoviePanel {
    width: 100%;
  }

  .rightMoviePanel {
    width: 0%;
  }

  .movieBlock {
    flex-direction: column;
    align-items: center;
  }

  .movieInfoBlock {
    margin: 0;
    margin-top: 30px;
  }
}

@media screen and (max-width: 576px) {
  .container {
    width: 95%;
  }

  .movieList {
    justify-content: center;
  }

  .logo {
    width: 56px;
  }

  .logoText {
    font-size: 40px;
  }

  .profileLogo {
    width: 48px;
}
}
