.genreItem {
  height: 40px;
  line-height: 40px;
  padding: 0 15px;
  background-color: var(--c2);
  color: var(--c3);
  font-size: 26px;
  transition: all 0.2s ease;
}

.genreItem:hover {
  cursor: pointer;
  color: #9a9696;
}

.activeGenreItem {
  background-color: #333333;
}
